/* Navbar */
/* Note: Add background navbar color */
.navbar-inverse {
  background-color: #000000;
  border-color: #000000;
}

/* Style the links inside the navigation bar */
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

/* Change the color of links on hover */
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #000000;
  color: #808080;
}

/* Add an active class to highlight the current page */
.navbar-inverse .navbar-nav > .active > a {
  background-color: #04AA6D;
  color: #808080;
}

/* Style the navbar toggle button */
.navbar-toggle {
  border-color: #ffffff;
}

/* Style the icon bars */
.navbar-toggle .icon-bar {
  background-color: #ffffff;
}

/* Image Alignment */

.left {
float: left;
margin-right: 100px;
display: block;
}

.right {
float: right;
margin-left: 100px;
display: block;
}

/* Typography */

.caption {
color: grey;
}

h1, h2, h3 {
font-family: Times New Roman;
font-size:20px;
}

p {
font-family:;
}

ul, li {
font-family:;
}
